
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    /* color: #ccccccef */
  }


.carousel .control-arrow:before {

  border-left: 12px solid black !important;
  border-right: none !important;
}
.carousel .control-arrow.control-next:before {
  border-left: none !important;
  border-right: 12px solid rgb(0, 0, 0) !important;
}